extends layout

block contenido
  .row.page-header
    .col-lg-12
      h1= cliente.nombre
  .row
    .col-xs-12.col-md-9
      .row
        .col-xs-12.col-sm-6
          .panel.panel-primary
            .panel-heading
              h2.panel-title Datos generales
            .panel-body
              p Direccion: #{cliente.dir}
              p Contactos: 
              ul.list-group
                each c in cliente.contactos
                  li.list-group-item 
                   p #{c.nombre} (#{c.pos}) 
                   p #{c.tel}/#{c.mail}
          .panel.panel-primary
            .panel-heading
              h2.panel-title Horarios
            .panel-body
              p Lunes - Viernes : 7:00am - 3:00pm
              p Sabado : 8:00am - 1:00pm
              p Domingo : cerrado
          .panel.panel-primary
            .panel-heading
              h2.panel-title Giros
            .panel-body
              span.label.label-warning
                span.glyphicon.glyphicon-ok
                | &nbsp;Publicidad
              | &nbsp;
              span.label.label-warning
                span.glyphicon.glyphicon-ok
                | &nbsp;Mercadeo
              | &nbsp;
              span.label.label-warning
                span.glyphicon.glyphicon-ok
                | &nbsp;Algo mas
              | &nbsp;
        .col-xs-12.col-sm-6.location-map
          .panel.panel-primary
            .panel-heading
              h2.panel-title Mapa
            .panel-body
              img.img-responsive.img-rounded(src='http://maps.googleapis.com/maps/api/staticmap?center=19.6853224,-99.037741&zoom=17&size=400x350&sensor=false&markers=19.6853224,--99.037741&scale=2')
    .col-xs-12.col-md-3
      .panel.panel-primary
        .panel-heading
          h2.panel-title Ordenes de ventas
        .panel-body
          p Aqui va informacion de ordenes de ventas.
